<a href="https://colab.research.google.com/github/prodramp/python-projects/blob/main/Walmart-SuperMarket/Store_master_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
import uuid

In [2]:
df = pd.read_csv('walmart_2018_11_06.csv')

In [3]:
df

,name,url,street_address,city,state,zip_code,country,phone_number_1,phone_number_2,fax_1,...,email_2,website,open_hours,latitude,longitude,facebook,twitter,instagram,pinterest,youtube
0,Conway Supercenter,https://www.walmart.com/store/5/conway-ar/details,1155 Hwy 65 North,Conway,AR,72032,US,501-329-0023,NaN,NaN,...,NaN,NaN,"monday - friday : 00:00-24:00, saturday : 00:0...",35.108660,-92.436905,NaN,NaN,NaN,NaN,NaN
1,Sikeston Supercenter,https://www.walmart.com/store/9/sikeston-mo/de...,1303 S Main St,Sikeston,MO,63801,US,573-472-3020,NaN,NaN,...,NaN,NaN,"monday - friday : 00:00-24:00, saturday : 00:0...",36.857394,-89.586051,NaN,NaN,NaN,NaN,NaN
2,Tahlequah Supercenter,https://www.walmart.com/store/10/tahlequah-ok/...,2020 S Muskogee Ave,Tahlequah,OK,74464,US,918-456-8804,NaN,NaN,...,NaN,NaN,"monday - friday : 00:00-24:00, saturday : 00:0...",35.888765,-94.979859,NaN,NaN,NaN,NaN,NaN
3,Mountain Home Supercenter,https://www.walmart.com/store/11/mountain-home...,65 Wal Mart Dr,Mountain Home,AR,72653,US,870-492-9299,NaN,NaN,...,NaN,NaN,"monday - friday : 00:00-24:00, saturday : 00:0...",36.354957,-92.341026,NaN,NaN,NaN,NaN,NaN
4,Claremore Supercenter,https://www.walmart.com/store/12/claremore-ok/...,1500 S Lynn Riggs Blvd,Claremore,OK,74017,US,918-341-2765,NaN,NaN,...,NaN,NaN,"monday - friday : 00:00-24:00, saturday : 00:0...",36.293955,-95.627125,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4649,Pearland Neighborhood Market,https://www.walmart.com/store/7361/pearland-tx...,12631 Broadway Street,Pearland,TX,77584,US,713-570-7925,NaN,NaN,...,NaN,NaN,"monday - friday : 06:00-23:00, saturday : 06:0...",29.556350,-95.415783,NaN,NaN,NaN,NaN,NaN
4650,Bentonville Gas Station,https://www.walmart.com/store/7368/bentonville...,1300 S Walton Blvd,Bentonville,AR,72712,US,479-271-2209,NaN,NaN,...,NaN,NaN,"monday - friday : 00:00-24:00, saturday : 00:0...",36.357486,-94.214669,NaN,NaN,NaN,NaN,NaN
4651,Millcreek Pickup only,https://www.walmart.com/store/8855/millcreek-u...,3701 S Highland Dr,Millcreek,UT,84106,US,801-467-2882,NaN,NaN,...,NaN,NaN,"monday - friday : 08:00-20:00, saturday : 08:0...",40.691031,-111.846529,NaN,NaN,NaN,NaN,NaN
4652,Dallas Supercenter,https://www.walmart.com/store/8930/dallas-tx/d...,15757 Coit Rd,Dallas,TX,75248,US,972-235-0681,NaN,NaN,...,NaN,NaN,"monday - friday : 00:00-24:00, saturday : 00:0...",32.963412,-96.770294,NaN,NaN,NaN,NaN,NaN
4653,Murray Pickup only,https://www.walmart.com/store/8862/murray-ut/d...,5596 S Van Winkle Expy,Murray,UT,84117,US,801-278-8290,NaN,NaN,...,NaN,NaN,"monday - friday : 08:00-20:00, saturday : 08:0...",40.649827,-111.849349,NaN,NaN,NaN,NaN,NaN

In [4]:
df = df[['name', 'latitude', 'longitude']]

In [5]:
df

                              name   latitude   longitude
0               Conway Supercenter  35.108660  -92.436905
1             Sikeston Supercenter  36.857394  -89.586051
2            Tahlequah Supercenter  35.888765  -94.979859
3        Mountain Home Supercenter  36.354957  -92.341026
4            Claremore Supercenter  36.293955  -95.627125
...                            ...        ...         ...
4649  Pearland Neighborhood Market  29.556350  -95.415783
4650       Bentonville Gas Station  36.357486  -94.214669
4651         Millcreek Pickup only  40.691031 -111.846529
4652            Dallas Supercenter  32.963412  -96.770294
4653            Murray Pickup only  40.649827 -111.849349

[4654 rows x 3 columns]

In [20]:
df['store_id'] = df.apply(lambda _: uuid.uuid4(), axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
df

,name,latitude,longitude,store_id
0,Conway Supercenter,35.108660,-92.436905,5eb5e7fc-88b6-4326-9f6f-c2bfee082258
1,Sikeston Supercenter,36.857394,-89.586051,03419f7a-e60f-4b7b-9bea-edff19c1a24a
2,Tahlequah Supercenter,35.888765,-94.979859,a7b1bc6a-17b6-4de1-ae2e-eecd653bf891
3,Mountain Home Supercenter,36.354957,-92.341026,bf317faf-d154-4980-a8d1-83161bfbbacf
4,Claremore Supercenter,36.293955,-95.627125,04508372-c00b-4e4c-a486-524e9730040f
...,...,...,...,...
4649,Pearland Neighborhood Market,29.556350,-95.415783,8c4f0c6f-4cfb-40d9-8034-07d92f28ad03
4650,Bentonville Gas Station,36.357486,-94.214669,c59fa17d-5db0-4fc9-87d7-d84a1944293d
4651,Millcreek Pickup only,40.691031,-111.846529,c070b01a-bb77-4587-ab85-d7e29819f9c5
4652,Dallas Supercenter,32.963412,-96.770294,25ffd0bb-0501-4418-801e-2f55f833f8f6
4653,Murray Pickup only,40.649827,-111.849349,974573f3-e900-4b4c-bd49-5001805386a9

In [22]:
df.to_csv('master_store_data.csv')

In [23]:
!ls -lash /content

total 1.5M
4.0K drwxr-xr-x 1 root root 4.0K Apr 23 00:13 .
4.0K drwxr-xr-x 1 root root 4.0K Apr 23 00:02 ..
4.0K drwxr-xr-x 4 root root 4.0K Apr 19 14:22 .config
392K -rw-r--r-- 1 root root 389K Apr 23 00:13 master_store_data.csv
4.0K drwxr-xr-x 1 root root 4.0K Apr 19 14:23 sample_data
1.1M -rw-r--r-- 1 root root 1.1M Apr 23 00:04 walmart_2018_11_06.csv