<a href="https://colab.research.google.com/github/prodramp/python-projects/blob/main/Faker/Faker_FakeData_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip show faker

WARNING: Package(s) not found: faker

In [2]:
!pip install faker

Collecting faker
  Downloading Faker-13.3.5-py3-none-any.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 7.6 MB/s
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from faker) (4.1.1)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-13.3.5

In [18]:
import pandas as pd

In [3]:
from faker import Faker

In [4]:
faker = Faker()

In [62]:
def personal_data(person_type):
  if person_type == 'm':  
    first_name = faker.first_name_male()
  else:
    first_name = faker.first_name_female()
  last_name = faker.last_name()
  dob = faker.date_of_birth(minimum_age=21)
  address = faker.address()
  ssn = faker.ssn()
  person = {'first_name': first_name, 'last_name': last_name, 'dob': dob, 'address': address, 'ssn': ssn, 'sex': person_type}
  return person

In [65]:
person = personal_data('m')

In [66]:
print(person)

{'first_name': 'Omar', 'last_name': 'Ruiz', 'dob': datetime.date(1962, 12, 26), 'address': '94756 Jennifer Plain Suite 222\nReyesport, IN 07636', 'ssn': '395-47-7487', 'sex': 'm'}

In [67]:
type(person)

dict

In [68]:
faker.boolean()

False

In [76]:
records = []
for i in range(10):
  if faker.boolean(): 
    person = personal_data('m')
  else:
    person = personal_data('f')
  records.append(person)

In [77]:
len(records)

10

In [78]:
df = pd.DataFrame(records)

In [79]:
df

,first_name,last_name,dob,address,ssn,sex
0,Ryan,Lee,1909-10-19,"1392 Vanessa Prairie Apt. 769\nGarciaville, CO...",173-23-8554,m
1,Jeffrey,Rivera,1936-02-21,"5641 Tyler Fork Apt. 202\nNorth Jeffreyfort, N...",789-65-8245,m
2,Jessica,Greene,1990-04-21,"1629 Shelia Terrace Apt. 590\nWest Michelle, N...",371-24-5219,f
3,Theresa,Zhang,1956-10-02,"975 Jackson Mall Suite 944\nSouth Peter, WY 73514",883-37-1838,f
4,Lisa,Wilkins,1917-12-24,"9135 Sonia Village Suite 900\nLake Curtis, NC ...",059-73-4938,f
5,Samuel,Powers,1970-01-22,"PSC 0457, Box 1294\nAPO AA 47885",297-75-8831,m
6,Claire,James,1937-10-28,"890 Wilson Square\nPort Aliciaport, RI 10044",445-52-6584,f
7,Juan,Gonzalez,1936-05-31,"28548 Howell Isle Apt. 547\nPort Stephen, IL 2...",474-32-4090,m
8,Keith,Robles,1980-09-22,"2217 Claudia Row\nLake Cynthia, TX 56314",744-55-6487,m
9,Larry,Robertson,1937-02-16,"14610 Maria Wells Suite 855\nEast Melissa, NC ...",209-91-3275,m

In [45]:
df.describe()

,first_name,last_name,dob,address,ssn
count,10,10,10,10,10
unique,9,10,10,10,10
top,Matthew,Miller,1920-12-05,"1537 Ryan Walks\nNicolefurt, MI 67725",182-86-4590
freq,2,1,1,1,1

In [46]:
df.info

<bound method DataFrame.info of   first_name  last_name         dob  \
0     Jeremy     Miller  1920-12-05
1    Michael   Schaefer  1973-08-25
2       Gary      Bryan  1948-07-16
3     Samuel      Lopez  1917-08-26
4       Juan      Perry  1929-04-27
5    Anthony       Bell  1963-04-26
6    Matthew     Lozano  1947-02-15
7    Matthew     Wilson  1981-05-18
8       Ryan    Ramirez  1996-02-05
9    Randall  Hernandez  1957-11-01

                                             address          ssn
0              1537 Ryan Walks\nNicolefurt, MI 67725  182-86-4590
1              3939 Wong Harbor\nClarkfurt, TX 16928  245-69-5801
2  79527 Alexander Isle Suite 243\nSouth Lauren, ...  400-90-4136
3              909 Rebecca Grove\nKylestad, KY 94774  844-20-5523
4  43235 Smith Plaza Apt. 693\nNorth Johnborough,...  433-54-3533
5       08175 Kimberly Loop\nBrittanyshire, NM 23835  725-20-6719
6  69937 Michael Parkway Apt. 650\nEast Mirandabu...  793-75-9066
7                   Unit 1282 Box 0645\nDPO AP 41641  895-94-8404
8   171 Scott Shoals Suite 984\nWalkerside, CO 56313  237-18-3712
9     60364 Ramsey Grove\nNew Zacharymouth, HI 61153  499-28-5278  >